body {
    background-color: darkslategrey;
}

.flex-container {
    display: flex;
}

.sidebar-flex {
    display: flex;
    border-radius: 10px;
    height: 100vh;
    margin: 0px;
    padding: 5px;
}

.header-main-flex-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
}

.sidebar-items {
    border: 3px solid black;
    border-radius: 10px;
}

.header {
    font-size: 25px;
    font-family: Avenir;
    border: 3px solid black;
    border-radius: 10px;
    height: 10vh;
    padding: 5px;
    margin-bottom: 5px;
}

.main-content {
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 85.5vh;
    padding: 5px;
}

.ul {
    display: flex;
    list-style: none;
    padding: 10px;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 12px;
}

.header_a {
    text-decoration: none;
    color: lightgrey;
}
