{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>

<body>
    <div class="flex-container">
        <div class="sidebar-flex">
            <div class="sidebar-items">
                <p>sidebar content here</p>
            </div>
        </div>
        <div class="header-main-flex-container">
            <div class="header">
                <nav>
                    <ul class="ul">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}" class="header_a"><b>Tasks</b></a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}" class="header_a"><b>Projects</b></a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="header_a"><b>Logout</b></a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}" class="header_a"><b>Login</b></a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}" class="header_a"><b>Signup</b></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="main-content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>

</html>
