{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Login</h1>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
